<div class="container">
    <div>
      <div class="form-group">
        <label>Full Name</label>
        <div class="form-control">{{productOrder.name}}</div>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <div class="form-control">{{productOrder.phone}}</div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <div class="form-control">{{productOrder.email}}</div>
      </div>
      <div class="form-group">
        <label>Product Serial Number</label>
        <div class="form-control">{{productOrder.serialNumber}}</div>
      </div>
      <div class="form-group">
        <label>Order Price</label>
        <div class="form-control">{{productOrder.orderPrice}}</div>
      </div>
      <div class="form-group">
        <label>Order Date</label>
        <div class="form-control">{{productOrder.orderDate}}</div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <div class="form-control">{{productOrder.description}}</div>
      </div>
      <div class="form-group">
        <label>Product</label>
        <div class="form-control">{{productOrder.model}}</div>
      </div>


    </div>
  </div>